# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# ...
*.7z
*.bak
*.bz2
*.exe
*.gz
*.lzma
*.ncb
*.obj
*.pdb
*.rar
*.sbr
*.suo
*.tmproj
*.user
*.vpwh*
*.vtg
*.xcodeproj/*.mode1v3
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/*.tm_build_errors
*.zip
*~
.cvsignore
.deps
.libs
.lock*
.svn
.waf*
autom4te.cache
build
BuildLog.htm
config.log
config.status
CVS
Debug
research
src/stamp-h1
tests/results
tmp
waf*
win32/Debug
win32/Release
